*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}   
body{
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 93vh;
    color: rgba(0,0,0,1);
    /* padding: 1rem; */
    
}
header{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
}    


main{
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    
    gap: 3rem;
    width: 100%;
    padding-top: 3rem;
    height: 100%;
}
.hi{
    font-size: 3.8rem;   
}
.hi__title{
    font-size: 5rem;
    text-shadow: 0px 9px 3px rgba(0,0,0,0.1);
    font-family: 'Rambla', sans-serif;
    padding-left: 1rem;
    
}
.hi__geetings{
    font-size: 1.7rem;
    font-weight:bold ;
    padding-left: 10rem;

}

.resume{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;

    height: 8rem;
    
}
.job-title{
    font-size: 1rem;
    font-weight: bold;
    opacity: 0.7;
}

.resume__stack{
    margin-left: 1.5rem;
    opacity: .7;
}

.cta{
    
    
    width: 100%;
    padding: .3rem;

    text-align: right;
    font-size:4rem;
    font-weight: bold;
    
    background-color: #FF7F00;
    background-color: #FB4C1F;            
    color: white;
}
footer{
    font-size: 0.7rem;
    width: 100%;
    opacity: 0.3;
    text-align: center;
    padding: 1rem;
    

}




.box{
    padding:  1rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;          
}
.w-100{
    width: 100%;
}

/* ----------------------------------------------
* Generated by Animista on 2022-2-27 0:6:59
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
.jello-horizontal{-webkit-animation:jello-horizontal .9s both;animation:jello-horizontal .9s both}
@-webkit-keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}

.fade-in{-webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) .75s both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) .75s both}
@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

.slide-in-left{-webkit-animation:slide-in-left 1s cubic-bezier(.25,.46,.45,.94) 1.5s both;animation:slide-in-left 1s cubic-bezier(.25,.46,.45,.94) 1.5s both}
@-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}
