*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}   
body{
    margin: 0;
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: auto 20% 20% auto  5%;
    min-height: 100vh;   
    width: 100%;
    /* background-color: black;
    color: white; */
    /* margin: 0 auto; */

}

header{

    grid-column: 1 /  3;
    grid-row: 1 / 2;

    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    height: 70px;
}    
.job-title{
    display: flex;
    align-items: center;
    /* gap:.3rem; */
    font-size: .8rem;
    font-weight: bold;
    opacity: 0.7;
}
.non-selecteable{
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
.hey{
    grid-row: 2  / 3 ;
    grid-column: 1 / 2 ;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.2rem;   
    text-shadow: 15px 45px 1px rgba(0,0,0,0.2);
    padding-bottom: 1rem;
    transition: all .5s ease-out;


}
.hey:active{
    
    text-shadow: 0px 0px 1px rgba(0,0,0,0.2);
    font-size: .9rem;

}

.nice{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    width: 100%;
    font-size: 1.7rem;
    
}

.nice__you{
    /* text-shadow: 0px 10px 4px rgba(0,0,0,0.2); */
    font-size: 4rem;               
}




.talk{   

    grid-row: 4/5;
    grid-column: 2/3;

    /* padding-right: 1rem; */

    font-size:3.5rem;
    font-weight: bold;
    
    background-color: #FB4C1F;            
    color: white;
    

    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    place-self: flex-end;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; */
    /* gap: 1rem   ; */
    
display: flex;

}
.talk__to{
    position: relative;
    top: 1px;
    left: -1px;
    text-align: left;
    line-height: 0.6;
    font-size: 7rem;
}
.talk__action{
    color: #fbff00;
    display: flex;
    place-self: flex-end;
}
.talk__action:visited{
    color: #fbff00;
}

footer{
    grid-row: 5/6;
    grid-column: 1/3;
    font-size: 0.7rem;
    width: 100%;

    text-align: center;
    padding-bottom: 1rem;
    color: white;

    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    opacity: 0.7;


}

@media screen and (prefers-color-scheme: light) {
    body {
    --bg-dark: gray;
    --gold: #ECB365;
    --blue:#064663;
    --dark: #041C32;

      background-color: var(--bg-dark);
      color: var(--dark);
    }
    

    .talk{
        background-color: var(--gold);
    }
    .talk__to{
        color:var(--bg-dark);
    }
    .talk__action{
        color: var(--blue);
    }
    .talk__action:visited{
        color: var(--blue);
    }

    /* footer{
        color: black;
    } */


  }


/* ----------------------------------------------
* Generated by Animista on 2022-2-27 0:6:59
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
.jello-horizontal{-webkit-animation:jello-horizontal .9s both;animation:jello-horizontal .9s both}
@-webkit-keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}

.fade-in{-webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) .75s both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) .75s both}
@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

/* .slide-in-left{-webkit-animation:slide-in-left 1s cubic-bezier(.25,.46,.45,.94) 1.5s both;animation:slide-in-left 1s cubic-bezier(.25,.46,.45,.94) 1.5s both}
@-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}} */

.slide-in-bottom{-webkit-animation:slide-in-bottom 2s cubic-bezier(.25,.46,.45,.94) 2s both;animation:slide-in-bottom 2s cubic-bezier(.25,.46,.45,.94) 2s both}
@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}


.slide-in-bck-center{-webkit-animation:slide-in-bck-center 3s cubic-bezier(.25,.46,.45,.94) 6s both;animation:slide-in-bck-center 3s cubic-bezier(.25,.46,.45,.94) 6s both}
@-webkit-keyframes slide-in-bck-center{0%{-webkit-transform:translateZ(600px);transform:translateZ(600px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes slide-in-bck-center{0%{-webkit-transform:translateZ(600px);transform:translateZ(600px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}


.fade-in-left{-webkit-animation:fade-in-left 1s cubic-bezier(.39,.575,.565,1.000) 2.5s both;animation:fade-in-left 1s cubic-bezier(.39,.575,.565,1.000) 2.5s both}
@-webkit-keyframes fade-in-left{0%{-webkit-transform:translateX(-50px);transform:translateX(-50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes fade-in-left{0%{-webkit-transform:translateX(-50px);transform:translateX(-50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}


.fade-in-right{-webkit-animation:fade-in-right .6s cubic-bezier(.39,.575,.565,1.000) 1.75s both;animation:fade-in-right .6s cubic-bezier(.39,.575,.565,1.000) 1.75s both}
@-webkit-keyframes fade-in-right{0%{-webkit-transform:translateX(50px);transform:translateX(50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes fade-in-right{0%{-webkit-transform:translateX(50px);transform:translateX(50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}



.fade-in-bck{-webkit-animation:fade-in-bck 1s cubic-bezier(.39,.575,.565,1.000) 4.5s both;animation:fade-in-bck 1s cubic-bezier(.39,.575,.565,1.000) 4.5s both}
@-webkit-keyframes fade-in-bck{0%{-webkit-transform:translateZ(80px);transform:translateZ(80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes fade-in-bck{0%{-webkit-transform:translateZ(80px);transform:translateZ(80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}
