*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}   
body{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 20% 20% auto  auto;
    height: 100vh;   
}
header{

    grid-column: 1 /  3;
    grid-row: 1 / 2;

    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
}    
.job-title{
    display: flex;
    align-items: center;
    gap:.3rem;
    font-size: .8rem;
    font-weight: bold;
    opacity: 0.7;
}
.hey{
    grid-row: 2  / 3 ;
    grid-column: 1 / 2 ;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;   
}

.nice{
   grid-row: 3 / 4;
   grid-column: 2 / 3;
    width: 100%;
    font-size: 1.7rem;

}

.nice__you{
    font-size: 4rem;               
}




.talk{   

    grid-row: 4/5;
    grid-column: 2/3;
    /* height: 100%; */

    padding-right: 1rem;
    text-align: right;
    font-size:3.5rem;
    font-weight: bold;
    
    background-color: #FB4C1F;            
    color: white;
    z-index: -1;

}
.message{
    font-size: 0.75rem;
    
    color: rgba(0,0,0,0.7);

}
.reload{
    grid-row: 4/5;
    grid-column: 1/2;
    display: flex;
    align-items: flex-end;
    padding: 0 .3rem ;
}
footer{
    grid-row: 5/6;
    grid-column: 1/3;
    font-size: 0.7rem;
    width: 100%;

    text-align: center;
    padding: 1rem;
    background: white;
    /* height: 150px; */

}



/* ----------------------------------------------
* Generated by Animista on 2022-2-27 0:6:59
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
.jello-horizontal{-webkit-animation:jello-horizontal .9s both;animation:jello-horizontal .9s both}
@-webkit-keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}

.fade-in{-webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) .75s both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) .75s both}
@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

/* .slide-in-left{-webkit-animation:slide-in-left 1s cubic-bezier(.25,.46,.45,.94) 1.5s both;animation:slide-in-left 1s cubic-bezier(.25,.46,.45,.94) 1.5s both}
@-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}} */

.slide-in-bottom{-webkit-animation:slide-in-bottom 2.5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom 2.5s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

.slide-in-bck-center{-webkit-animation:slide-in-bck-center 2s cubic-bezier(.25,.46,.45,.94) 3s both;animation:slide-in-bck-center 2s cubic-bezier(.25,.46,.45,.94) 3s both}
@-webkit-keyframes slide-in-bck-center{0%{-webkit-transform:translateZ(600px);transform:translateZ(600px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes slide-in-bck-center{0%{-webkit-transform:translateZ(600px);transform:translateZ(600px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}